[Unit]
Description=Tunnel Watch for amXa
After=syslog.target network.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/sbin/amxa-tunnel-watch
#ExecReload=/bin/kill -s HUP $MAINPID
#ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
RestartSec=300


[Install]
WantedBy=multi-user.target
